# Pandas Assignment – Data Filtering & Querying

In [2]:
import pandas as pd
data= pd.read_excel("std_marks_sheet.xlsx")
data

,name,roll num,python,numpy,pandas,streamlit,ML,DL,NLP,Total,Grade
0,Ahmed Raza,10001,52,64,52,74,51,49,70,412,B
1,Muhammad Asim,10002,85,53,78,61,86,46,53,462,A
2,Asad Ali,10003,60,97,73,57,52,80,50,469,A
3,Hassan Raza,10004,87,99,63,64,85,43,94,535,A
4,Ali Hamza,10005,82,72,67,50,53,40,54,418,B
...,...,...,...,...,...,...,...,...,...,...,...
95,Hasnain Ahmed,10096,62,100,85,54,96,94,83,574,A
96,Zubair Raza,10097,42,60,88,92,57,56,59,454,A
97,Ahmer Ali,10098,45,60,60,91,60,57,98,471,A
98,Nabeel Ahmed,10099,97,75,81,98,72,50,85,558,A
99,Dawood Raza,10100,82,62,42,80,54,49,43,412,B

# Questions

In [27]:
#1. Display all students who scored more than 75 in Python.

In [141]:
data[data.python>75][['name', 'python']]

               name  python
1     Muhammad Asim      85
3       Hassan Raza      87
4         Ali Hamza      82
5       Usman Tariq      91
6       Bilal Ahmed      81
7        Fahad Khan      93
8      Abdul Rehman      93
16      Noman Ahmed      81
17     Shahzaib Ali      90
18      Danish Raza      80
19      Waqas Ahmed      81
20  Abdullah Naveed      83
21     Mubashir Ali      89
27       Talha Raza      77
29     Sameer Ahmed      91
32     Junaid Ahmed      80
33       Zubair Ali      77
34      Irfan Ahmed      94
35      Kashif Raza      80
36       Nouman Ali      81
37      Owais Ahmed      95
39      Huzaifa Ali      78
43     Farhan Ahmed      94
44       Ubaid Raza      83
50    Shahmeer Raza      92
51        Zahid Ali      78
52      Qasim Ahmed      95
53      Muneeb Raza      97
57       Khalid Ali      86
63      Ibrahim Ali      91
64      Azlan Ahmed      83
67     Naveed Ahmed      90
68      Jibran Raza      85
70       Saif Ahmed      85
71       Rafay Raza      90
72        Ehsan Ali      83
74       Zarar Raza      87
76     Ismail Ahmed      79
80     Rizwan Ahmed      85
81      Shakir Raza      99
83       Amin Ahmed     100
87       Zayan Raza      97
88        Akram Ali      76
91      Rohail Raza      83
92    Shahbaz Ahmed      82
98     Nabeel Ahmed      97
99      Dawood Raza      82

In [24]:
#2. Show records of students whose Grade is A.

In [25]:
data[data.Grade == "A"]

,name,roll num,python,numpy,pandas,streamlit,ML,DL,NLP,Total,Grade
1,Muhammad Asim,10002,85,53,78,61,86,46,53,462,A
2,Asad Ali,10003,60,97,73,57,52,80,50,469,A
3,Hassan Raza,10004,87,99,63,64,85,43,94,535,A
5,Usman Tariq,10006,91,88,62,64,80,65,49,499,A
6,Bilal Ahmed,10007,81,90,44,53,96,88,87,539,A
...,...,...,...,...,...,...,...,...,...,...,...
94,Affan Raza,10095,72,48,99,57,73,76,81,506,A
95,Hasnain Ahmed,10096,62,100,85,54,96,94,83,574,A
96,Zubair Raza,10097,42,60,88,92,57,56,59,454,A
97,Ahmer Ali,10098,45,60,60,91,60,57,98,471,A
98,Nabeel Ahmed,10099,97,75,81,98,72,50,85,558,A

In [32]:
#3. Find students who scored less than 60 in NumPy.

In [142]:
data[data.numpy<60][['name', 'numpy']]

               name  numpy
1     Muhammad Asim     53
8      Abdul Rehman     58
15       Imran Khan     42
17     Shahzaib Ali     54
18      Danish Raza     41
19      Waqas Ahmed     47
20  Abdullah Naveed     42
21     Mubashir Ali     56
22        Taha Raza     56
25       Rizwan Ali     48
27       Talha Raza     42
28      Faizan Khan     40
36       Nouman Ali     48
37      Owais Ahmed     56
44       Ubaid Raza     56
45       Shayan Ali     50
46      Ammar Ahmed     50
51        Zahid Ali     44
61    Murtaza Ahmed     41
63      Ibrahim Ali     58
65       Awais Raza     50
68      Jibran Raza     49
69        Abrar Ali     44
70       Saif Ahmed     59
71       Rafay Raza     43
73     Shahid Ahmed     46
74       Zarar Raza     48
75       Rameez Ali     46
80     Rizwan Ahmed     40
85         Atif Ali     54
88        Akram Ali     55
94       Affan Raza     48

In [34]:
#4. Display students with Total marks greater than 450.

In [143]:
data[data.Total>=450][['name', 'Total']]

             name  Total
1   Muhammad Asim    462
2        Asad Ali    469
3     Hassan Raza    535
5     Usman Tariq    499
6     Bilal Ahmed    539
..            ...    ...
94     Affan Raza    506
95  Hasnain Ahmed    574
96    Zubair Raza    454
97      Ahmer Ali    471
98   Nabeel Ahmed    558

[82 rows x 2 columns]

In [36]:
#5. Show only name and roll num of students who scored above 80 in Pandas.

In [144]:
data[(data['pandas'] >=80)][['name', 'roll num','pandas']]

               name  roll num  pandas
7        Fahad Khan     10008      99
11       Saad Ahmed     10012      99
12      Umer Farooq     10013      98
16      Noman Ahmed     10017      94
17     Shahzaib Ali     10018      96
18      Danish Raza     10019      92
19      Waqas Ahmed     10020      82
20  Abdullah Naveed     10021      99
22        Taha Raza     10023      88
25       Rizwan Ali     10026      99
26      Adeel Ahmed     10027      80
28      Faizan Khan     10029      92
29     Sameer Ahmed     10030      82
31       Yasir Raza     10032      96
34      Irfan Ahmed     10035      85
40       Anas Ahmed     10041      90
41       Rayan Raza     10042      82
45       Shayan Ali     10046      90
47     Zeeshan Raza     10048      87
53      Muneeb Raza     10054      83
55      Areeb Ahmed     10056      80
57       Khalid Ali     10058      97
61    Murtaza Ahmed     10062      89
62      Furqan Raza     10063      99
71       Rafay Raza     10072      97
76     Ismail Ahmed     10077      84
77       Ahsan Raza     10078      91
82       Faisal Ali     10083      99
83       Amin Ahmed     10084      92
85         Atif Ali     10086      83
94       Affan Raza     10095      99
95    Hasnain Ahmed     10096      85
96      Zubair Raza     10097      88
98     Nabeel Ahmed     10099      81

In [45]:
#6. Filter students whose Streamlit marks are between 60 and 80.

In [145]:
data[(data['pandas'].between(60,80))][['name', 'streamlit']]

              name  streamlit
1    Muhammad Asim         61
2         Asad Ali         57
3      Hassan Raza         64
4        Ali Hamza         50
5      Usman Tariq         64
9         Zain Ali         93
10     Ahsan Iqbal         45
15      Imran Khan         53
21    Mubashir Ali         86
24    Shoaib Malik         68
26     Adeel Ahmed         57
30       Haris Ali         85
32    Junaid Ahmed         95
33      Zubair Ali         42
36      Nouman Ali         78
38       Moiz Raza         69
44      Ubaid Raza         83
51       Zahid Ali         93
54       Ayaan Ali         72
55     Areeb Ahmed         63
56       Sami Raza         40
60      Kamran Ali         47
65      Awais Raza         68
66      Sufyan Ali         67
70      Saif Ahmed         68
73    Shahid Ahmed         68
74      Zarar Raza         88
75      Rameez Ali         58
78  Zain Ul Abidin         90
79      Hammad Ali         68
80    Rizwan Ahmed         96
81     Shakir Raza         47
84     Sarmad Raza         95
89    Haseeb Ahmed         88
90       Mahad Ali         53
91     Rohail Raza         65
92   Shahbaz Ahmed         74
97       Ahmer Ali         91

In [58]:
#7. Display students who scored exactly 90 in ML.

In [146]:
data[data.ML==90][['name', 'ML']]

Empty DataFrame
Columns: [name, ML]
Index: []

In [67]:
#8. Find students whose DL marks are less than 50.

In [148]:
data[(data.DL<50)][['name', 'DL']]

             name  DL
0      Ahmed Raza  49
1   Muhammad Asim  46
3     Hassan Raza  43
4       Ali Hamza  40
10    Ahsan Iqbal  41
26    Adeel Ahmed  41
27     Talha Raza  43
44     Ubaid Raza  48
45     Shayan Ali  41
50  Shahmeer Raza  45
61  Murtaza Ahmed  41
62    Furqan Raza  43
63    Ibrahim Ali  49
73   Shahid Ahmed  47
88      Akram Ali  47
93    Taimoor Ali  46
99    Dawood Raza  49

In [70]:
#9. Show students who scored more than 65 in NLP.

In [149]:
data[(data.NLP>=65)][['name', 'NLP']]

             name  NLP
0      Ahmed Raza   70
3     Hassan Raza   94
6     Bilal Ahmed   87
8    Abdul Rehman   66
9        Zain Ali   85
..            ...  ...
92  Shahbaz Ahmed   65
94     Affan Raza   81
95  Hasnain Ahmed   83
97      Ahmer Ali   98
98   Nabeel Ahmed   85

[62 rows x 2 columns]

In [74]:
#10. Display students whose Total marks are less than 400.

In [150]:
data[(data.Total<=400)][['name', 'Total']]

            name  Total
73  Shahid Ahmed    390

In [77]:
#11. Show students who scored more than 70 in Python and NumPy.

In [151]:
data[(data.python>=70) & (data.numpy>=70)][['name', 'python','numpy']]

             name  python  numpy
3     Hassan Raza      87     99
4       Ali Hamza      82     72
5     Usman Tariq      91     88
6     Bilal Ahmed      81     90
7      Fahad Khan      93     94
9        Zain Ali      71    100
11     Saad Ahmed      75    100
24   Shoaib Malik      72     82
29   Sameer Ahmed      91     75
32   Junaid Ahmed      80     73
33     Zubair Ali      77     98
39    Huzaifa Ali      78     95
43   Farhan Ahmed      94     87
50  Shahmeer Raza      92     88
53    Muneeb Raza      97     93
55    Areeb Ahmed      75     93
57     Khalid Ali      86     85
64    Azlan Ahmed      83     81
66     Sufyan Ali      74     83
67   Naveed Ahmed      90     80
72      Ehsan Ali      83     77
76   Ismail Ahmed      79     85
81    Shakir Raza      99     95
83     Amin Ahmed     100     95
87     Zayan Raza      97     75
91    Rohail Raza      83     78
92  Shahbaz Ahmed      82     75
98   Nabeel Ahmed      97     75

In [80]:
#12. Display students whose Pandas marks are below 60.

In [152]:
data[data.pandas<60][['name', 'pandas']]

             name  pandas
0      Ahmed Raza      52
6     Bilal Ahmed      44
8    Abdul Rehman      51
13    Salman Raza      56
14      Hamza Ali      45
23   Arslan Ahmed      44
27     Talha Raza      45
35    Kashif Raza      48
37    Owais Ahmed      50
39    Huzaifa Ali      53
42      Adnan Ali      58
43   Farhan Ahmed      43
46    Ammar Ahmed      40
48      Rehan Ali      48
49  Mustafa Ahmed      43
50  Shahmeer Raza      44
52    Qasim Ahmed      44
58     Afaq Ahmed      45
59     Basit Raza      56
63    Ibrahim Ali      56
64    Azlan Ahmed      49
67   Naveed Ahmed      59
68    Jibran Raza      58
69      Abrar Ali      49
72      Ehsan Ali      47
86    Waqar Ahmed      43
87     Zayan Raza      44
88      Akram Ali      42
93    Taimoor Ali      44
99    Dawood Raza      42

In [82]:
#13. Find students with Grade B.

In [153]:
data[(data.Grade =="B")][['name', 'Grade']]

             name Grade
0      Ahmed Raza     B
4       Ali Hamza     B
10    Ahsan Iqbal     B
15     Imran Khan     B
27     Talha Raza     B
42      Adnan Ali     B
45     Shayan Ali     B
54      Ayaan Ali     B
60     Kamran Ali     B
61  Murtaza Ahmed     B
64    Azlan Ahmed     B
65     Awais Raza     B
69      Abrar Ali     B
73   Shahid Ahmed     B
86    Waqar Ahmed     B
88      Akram Ali     B
93    Taimoor Ali     B
99    Dawood Raza     B

In [85]:
#14. Show students who scored above 85 in ML.

In [154]:
data[(data.ML>85)][['name', 'ML']]

             name   ML
1   Muhammad Asim   86
6     Bilal Ahmed   96
18    Danish Raza   93
22      Taha Raza   95
24   Shoaib Malik   98
33     Zubair Ali  100
36     Nouman Ali   97
38      Moiz Raza   97
40     Anas Ahmed   93
46    Ammar Ahmed   87
47   Zeeshan Raza   91
48      Rehan Ali   86
51      Zahid Ali   98
52    Qasim Ahmed   97
60     Kamran Ali   88
63    Ibrahim Ali   98
71     Rafay Raza   88
83     Amin Ahmed   89
93    Taimoor Ali   94
95  Hasnain Ahmed   96

In [87]:
#15. Display students who scored less than 55 in Streamlit.

In [155]:
data[data['streamlit']<=55][['name', 'streamlit']]

               name  streamlit
4         Ali Hamza         50
6       Bilal Ahmed         53
7        Fahad Khan         47
10      Ahsan Iqbal         45
11       Saad Ahmed         48
12      Umer Farooq         42
15       Imran Khan         53
20  Abdullah Naveed         40
31       Yasir Raza         52
33       Zubair Ali         42
41       Rayan Raza         46
53      Muneeb Raza         46
56        Sami Raza         40
57       Khalid Ali         48
60       Kamran Ali         47
62      Furqan Raza         54
64      Azlan Ahmed         42
68      Jibran Raza         55
71       Rafay Raza         50
81      Shakir Raza         47
82       Faisal Ali         42
85         Atif Ali         42
88        Akram Ali         54
90        Mahad Ali         53
95    Hasnain Ahmed         54

In [93]:
#16. Show students whose Python marks are between 60 and 90.

In [156]:
data[(data.python>=60) & (data.python<=90)][['name', 'python']]

               name  python
1     Muhammad Asim      85
2          Asad Ali      60
3       Hassan Raza      87
4         Ali Hamza      82
6       Bilal Ahmed      81
9          Zain Ali      71
11       Saad Ahmed      75
16      Noman Ahmed      81
17     Shahzaib Ali      90
18      Danish Raza      80
19      Waqas Ahmed      81
20  Abdullah Naveed      83
21     Mubashir Ali      89
24     Shoaib Malik      72
25       Rizwan Ali      66
27       Talha Raza      77
28      Faizan Khan      62
32     Junaid Ahmed      80
33       Zubair Ali      77
35      Kashif Raza      80
36       Nouman Ali      81
39      Huzaifa Ali      78
40       Anas Ahmed      60
41       Rayan Raza      67
44       Ubaid Raza      83
45       Shayan Ali      67
51        Zahid Ali      78
55      Areeb Ahmed      75
56        Sami Raza      67
57       Khalid Ali      86
61    Murtaza Ahmed      73
62      Furqan Raza      60
64      Azlan Ahmed      83
66       Sufyan Ali      74
67     Naveed Ahmed      90
68      Jibran Raza      85
69        Abrar Ali      66
70       Saif Ahmed      85
71       Rafay Raza      90
72        Ehsan Ali      83
73     Shahid Ahmed      62
74       Zarar Raza      87
75       Rameez Ali      62
76     Ismail Ahmed      79
80     Rizwan Ahmed      85
84      Sarmad Raza      73
88        Akram Ali      76
91      Rohail Raza      83
92    Shahbaz Ahmed      82
93      Taimoor Ali      60
94       Affan Raza      72
95    Hasnain Ahmed      62
99      Dawood Raza      82

In [95]:
#17. Find students who scored above 70 in Pandas and NLP.

In [157]:
data[(data.pandas >70) & (data.NLP>70)][['name', 'pandas', 'NLP']]

               name  pandas  NLP
9          Zain Ali      71   85
11       Saad Ahmed      99   76
12      Umer Farooq      98   95
15       Imran Khan      74   83
17     Shahzaib Ali      96   98
18      Danish Raza      92   85
20  Abdullah Naveed      99   85
22        Taha Raza      88   75
24     Shoaib Malik      72   73
25       Rizwan Ali      99   97
26      Adeel Ahmed      80   85
28      Faizan Khan      92   71
29     Sameer Ahmed      82   91
30        Haris Ali      79   98
31       Yasir Raza      96   79
34      Irfan Ahmed      85   76
38        Moiz Raza      77   92
40       Anas Ahmed      90   79
41       Rayan Raza      82   95
55      Areeb Ahmed      80   87
62      Furqan Raza      99   93
70       Saif Ahmed      76   72
71       Rafay Raza      97   75
75       Rameez Ali      73   94
78   Zain Ul Abidin      71   92
79       Hammad Ali      79   93
85         Atif Ali      83   98
94       Affan Raza      99   81
95    Hasnain Ahmed      85   83
98     Nabeel Ahmed      81   85

In [98]:
#18. Display students whose DL marks are greater than 60.

In [158]:
data[(data.DL>=60)][['name', 'DL']]

             name  DL
2        Asad Ali  80
5     Usman Tariq  65
6     Bilal Ahmed  88
8    Abdul Rehman  93
9        Zain Ali  88
..            ...  ..
89   Haseeb Ahmed  78
90      Mahad Ali  76
91    Rohail Raza  65
94     Affan Raza  76
95  Hasnain Ahmed  94

[67 rows x 2 columns]

In [101]:
#19. Show students with Total marks between 400 and 500.

In [159]:
data[data['Total'].between(400,500)][['name', 'Total']]

               name  Total
0        Ahmed Raza    412
1     Muhammad Asim    462
2          Asad Ali    469
4         Ali Hamza    418
5       Usman Tariq    499
7        Fahad Khan    479
10      Ahsan Iqbal    435
13      Salman Raza    457
14        Hamza Ali    495
15       Imran Khan    411
19      Waqas Ahmed    452
20  Abdullah Naveed    470
22        Taha Raza    495
23     Arslan Ahmed    475
26      Adeel Ahmed    467
27       Talha Raza    408
28      Faizan Khan    474
36       Nouman Ali    479
37      Owais Ahmed    483
39      Huzaifa Ali    484
41       Rayan Raza    497
42        Adnan Ali    442
44       Ubaid Raza    495
45       Shayan Ali    443
46      Ammar Ahmed    476
48        Rehan Ali    496
49    Mustafa Ahmed    485
50    Shahmeer Raza    468
54        Ayaan Ali    445
56        Sami Raza    468
57       Khalid Ali    491
58       Afaq Ahmed    453
59       Basit Raza    487
60       Kamran Ali    431
61    Murtaza Ahmed    449
62      Furqan Raza    486
64      Azlan Ahmed    433
65       Awais Raza    446
67     Naveed Ahmed    480
68      Jibran Raza    468
69        Abrar Ali    402
70       Saif Ahmed    487
75       Rameez Ali    470
79       Hammad Ali    457
82       Faisal Ali    496
84      Sarmad Raza    461
85         Atif Ali    454
86      Waqar Ahmed    444
87       Zayan Raza    471
88        Akram Ali    414
90        Mahad Ali    495
93      Taimoor Ali    441
96      Zubair Raza    454
97        Ahmer Ali    471
99      Dawood Raza    412

In [11]:
#20. Display students who scored less than 65 in ML.

In [160]:
data[data.ML<65][['name', 'ML']]

               name  ML
0        Ahmed Raza  51
2          Asad Ali  52
4         Ali Hamza  53
7        Fahad Khan  54
8      Abdul Rehman  62
12      Umer Farooq  48
13      Salman Raza  63
15       Imran Khan  57
16      Noman Ahmed  54
19      Waqas Ahmed  41
20  Abdullah Naveed  45
21     Mubashir Ali  60
23     Arslan Ahmed  57
26      Adeel Ahmed  59
28      Faizan Khan  47
29     Sameer Ahmed  56
34      Irfan Ahmed  64
37      Owais Ahmed  62
39      Huzaifa Ali  62
41       Rayan Raza  49
42        Adnan Ali  49
43     Farhan Ahmed  50
50    Shahmeer Raza  63
53      Muneeb Raza  60
54        Ayaan Ali  49
55      Areeb Ahmed  58
59       Basit Raza  56
62      Furqan Raza  61
64      Azlan Ahmed  40
67     Naveed Ahmed  55
69        Abrar Ali  55
73     Shahid Ahmed  42
75       Rameez Ali  49
77       Ahsan Raza  62
79       Hammad Ali  50
84      Sarmad Raza  41
88        Akram Ali  49
89     Haseeb Ahmed  59
96      Zubair Raza  57
97        Ahmer Ali  60
99      Dawood Raza  54

In [13]:
#21. Show students who scored above 75 in NumPy.

In [161]:
data.loc[data.numpy>75][['name','numpy']]

             name  numpy
2        Asad Ali     97
3     Hassan Raza     99
5     Usman Tariq     88
6     Bilal Ahmed     90
7      Fahad Khan     94
9        Zain Ali    100
10    Ahsan Iqbal     87
11     Saad Ahmed    100
12    Umer Farooq     89
13    Salman Raza     83
23   Arslan Ahmed     83
24   Shoaib Malik     82
26    Adeel Ahmed     86
30      Haris Ali     95
33     Zubair Ali     98
38      Moiz Raza     81
39    Huzaifa Ali     95
41     Rayan Raza     94
42      Adnan Ali     89
43   Farhan Ahmed     87
48      Rehan Ali     87
49  Mustafa Ahmed     82
50  Shahmeer Raza     88
53    Muneeb Raza     93
55    Areeb Ahmed     93
56      Sami Raza     97
57     Khalid Ali     85
59     Basit Raza     97
62    Furqan Raza     76
64    Azlan Ahmed     81
66     Sufyan Ali     83
67   Naveed Ahmed     80
72      Ehsan Ali     77
76   Ismail Ahmed     85
77     Ahsan Raza     88
81    Shakir Raza     95
82     Faisal Ali     77
83     Amin Ahmed     95
90      Mahad Ali     80
91    Rohail Raza     78
95  Hasnain Ahmed    100

In [28]:
#22. Find students whose NLP marks are less than 50.

In [162]:
data.loc[data.NLP<50][['name','NLP']]

             name  NLP
5     Usman Tariq   49
7      Fahad Khan   41
32   Junaid Ahmed   43
45     Shayan Ali   43
54      Ayaan Ali   43
57     Khalid Ali   46
58     Afaq Ahmed   40
60     Kamran Ali   41
61  Murtaza Ahmed   46
74     Zarar Raza   44
80   Rizwan Ahmed   40
83     Amin Ahmed   48
87     Zayan Raza   41
99    Dawood Raza   43

In [32]:
#23. Display students who scored more than 80 in Streamlit.

In [163]:
data[data.streamlit>80][['name','streamlit']]

              name  streamlit
8     Abdul Rehman         92
9         Zain Ali         93
14       Hamza Ali         95
16     Noman Ahmed         84
17    Shahzaib Ali         88
21    Mubashir Ali         86
23    Arslan Ahmed         94
28     Faizan Khan         99
30       Haris Ali         85
32    Junaid Ahmed         95
34     Irfan Ahmed         87
35     Kashif Raza         83
44      Ubaid Raza         83
51       Zahid Ali         93
58      Afaq Ahmed         94
61   Murtaza Ahmed         85
63     Ibrahim Ali        100
74      Zarar Raza         88
76    Ismail Ahmed         97
78  Zain Ul Abidin         90
80    Rizwan Ahmed         96
83      Amin Ahmed         85
84     Sarmad Raza         95
89    Haseeb Ahmed         88
96     Zubair Raza         92
97       Ahmer Ali         91
98    Nabeel Ahmed         98

In [37]:
#24. Show students with Grade C.

In [165]:
data[data.Grade == 'C']

Empty DataFrame
Columns: [name, roll num, python, numpy, pandas, streamlit, ML, DL, NLP, Total, Grade]
Index: []

In [39]:
#25. Display students who scored exactly 100 in Python.

In [40]:
data[data.python==100]

,name,roll num,python,numpy,pandas,streamlit,ML,DL,NLP,Total,Grade
83,Amin Ahmed,10084,100,95,92,85,89,87,48,596,A

In [41]:
#26. Display students who scored more than 70 in Python and more than 65 in Pandas.

In [43]:
data[(data.python>70) & (data.pandas>65)][['python', 'pandas']]

    python  pandas
1       85      78
4       82      67
7       93      99
9       71      71
11      75      99
16      81      94
17      90      96
18      80      92
19      81      82
20      83      99
24      72      72
29      91      82
32      80      76
34      94      85
36      81      70
44      83      69
53      97      83
55      75      80
57      86      97
61      73      89
66      74      72
70      85      76
71      90      97
74      87      66
76      79      84
80      85      74
81      99      77
83     100      92
84      73      67
91      83      70
92      82      68
94      72      99
98      97      81

In [44]:
#27. Find students who scored less than 60 in ML or less than 50 in DL.

In [47]:
data[(data.ML<=60) & (data.DL<=50)][['ML','DL']]

    ML  DL
0   51  49
4   53  40
26  59  41
73  42  47
88  49  47
99  54  49

In [48]:
#28. Display students with Grade A and NLP marks greater than 60.

In [50]:
data[(data.Grade == 'A') & (data.NLP>60)][['Grade', 'NLP']]

   Grade  NLP
3      A   94
6      A   87
8      A   66
9      A   85
11     A   76
..   ...  ...
92     A   65
94     A   81
95     A   83
97     A   98
98     A   85

[62 rows x 2 columns]

In [51]:
#29. Show students whose Total marks are above 500 and Streamlit marks below 60.

In [53]:
data[(data.Total>500)& (data.streamlit<60)][['Total', 'streamlit']]

    Total  streamlit
6     539         53
11    538         48
12    504         42
31    533         52
33    539         42
53    512         46
71    524         50
81    558         47
94    506         57
95    574         54

In [54]:
#30. Display students who scored more than 75 in Python, NumPy, and Pandas.

In [58]:
data[(data.python>=75) & (data.numpy>=75) & (data.pandas>=75)][['name','python','numpy','pandas']]

            name  python  numpy  pandas
7     Fahad Khan      93     94      99
11    Saad Ahmed      75    100      99
29  Sameer Ahmed      91     75      82
53   Muneeb Raza      97     93      83
55   Areeb Ahmed      75     93      80
57    Khalid Ali      86     85      97
76  Ismail Ahmed      79     85      84
81   Shakir Raza      99     95      77
83    Amin Ahmed     100     95      92
98  Nabeel Ahmed      97     75      81

In [57]:
#31. Find students who scored less than 50 in Python and NumPy.

In [60]:
data[(data.python<=50)&(data.numpy<=50)][['name', 'python','numpy']]

           name  python  numpy
46  Ammar Ahmed      48     50

In [61]:
#32. Display students whose ML and DL marks are both greater than 60.

In [63]:
data[(data.ML>60)&(data.DL>60)][['name','ML','DL']]

              name   ML   DL
5      Usman Tariq   80   65
6      Bilal Ahmed   96   88
8     Abdul Rehman   62   93
9         Zain Ali   73   88
13     Salman Raza   63   91
14       Hamza Ali   67   75
17    Shahzaib Ali   81   96
22       Taha Raza   95   76
25      Rizwan Ali   81   81
31      Yasir Raza   76   99
32    Junaid Ahmed   83   93
33      Zubair Ali  100  100
34     Irfan Ahmed   64   65
35     Kashif Raza   82   91
37     Owais Ahmed   62   85
38       Moiz Raza   97   79
39     Huzaifa Ali   62   75
40      Anas Ahmed   93   85
46     Ammar Ahmed   87   93
47    Zeeshan Raza   91   96
48       Rehan Ali   86   74
49   Mustafa Ahmed   79  100
51       Zahid Ali   98   61
52     Qasim Ahmed   97   93
58      Afaq Ahmed   72   81
60      Kamran Ali   88   61
65      Awais Raza   73   77
66      Sufyan Ali   66   99
68     Jibran Raza   84   77
71      Rafay Raza   88   81
72       Ehsan Ali   71   79
74      Zarar Raza   74   98
76    Ismail Ahmed   78   92
77      Ahsan Raza   62   81
78  Zain Ul Abidin   65   66
80    Rizwan Ahmed   84   93
81     Shakir Raza   84   98
82      Faisal Ali   77   84
83      Amin Ahmed   89   87
86     Waqar Ahmed   67   85
90       Mahad Ali   83   76
91     Rohail Raza   70   65
94      Affan Raza   73   76
95   Hasnain Ahmed   96   94

In [64]:
#33. Show students who scored more than 80 in Python but less than 60 in NLP.

In [65]:
data[(data.python>80) & (data.NLP<60)][['name', 'python' , 'NLP']]

             name  python  NLP
1   Muhammad Asim      85   53
4       Ali Hamza      82   54
5     Usman Tariq      91   49
7      Fahad Khan      93   41
19    Waqas Ahmed      81   52
36     Nouman Ali      81   53
50  Shahmeer Raza      92   56
57     Khalid Ali      86   46
64    Azlan Ahmed      83   59
74     Zarar Raza      87   44
80   Rizwan Ahmed      85   40
81    Shakir Raza      99   58
83     Amin Ahmed     100   48
87     Zayan Raza      97   41
99    Dawood Raza      82   43

In [66]:
#34. Display students whose Total marks are below 450 and Grade is B.

In [68]:
data[(data.Total<=450) & (data.Grade == 'B')][['name', 'Total', 'Grade']]

             name  Total Grade
0      Ahmed Raza    412     B
4       Ali Hamza    418     B
10    Ahsan Iqbal    435     B
15     Imran Khan    411     B
27     Talha Raza    408     B
42      Adnan Ali    442     B
45     Shayan Ali    443     B
54      Ayaan Ali    445     B
60     Kamran Ali    431     B
61  Murtaza Ahmed    449     B
64    Azlan Ahmed    433     B
65     Awais Raza    446     B
69      Abrar Ali    402     B
73   Shahid Ahmed    390     B
86    Waqar Ahmed    444     B
88      Akram Ali    414     B
93    Taimoor Ali    441     B
99    Dawood Raza    412     B

In [69]:
#35. Find students who scored more than 70 in Pandas or NLP.

In [71]:
data[(data.pandas>=70) & (data.NLP>=70)][['name','pandas', 'NLP']]

               name  pandas  NLP
9          Zain Ali      71   85
11       Saad Ahmed      99   76
12      Umer Farooq      98   95
15       Imran Khan      74   83
17     Shahzaib Ali      96   98
18      Danish Raza      92   85
20  Abdullah Naveed      99   85
22        Taha Raza      88   75
24     Shoaib Malik      72   73
25       Rizwan Ali      99   97
26      Adeel Ahmed      80   85
28      Faizan Khan      92   71
29     Sameer Ahmed      82   91
30        Haris Ali      79   98
31       Yasir Raza      96   79
34      Irfan Ahmed      85   76
38        Moiz Raza      77   92
40       Anas Ahmed      90   79
41       Rayan Raza      82   95
55      Areeb Ahmed      80   87
62      Furqan Raza      99   93
70       Saif Ahmed      76   72
71       Rafay Raza      97   75
75       Rameez Ali      73   94
78   Zain Ul Abidin      71   92
79       Hammad Ali      79   93
85         Atif Ali      83   98
91      Rohail Raza      70   82
94       Affan Raza      99   81
95    Hasnain Ahmed      85   83
98     Nabeel Ahmed      81   85

In [72]:
#36. Show students who scored below 60 in all of Python, NumPy, and Pandas.

In [74]:
data[(data.python<=60) & (data.numpy<=60) & (data.pandas<=60)][['name', 'python','pandas']]

           name  python  pandas
46  Ammar Ahmed      48      40
97    Ahmer Ali      45      60

In [75]:
#37. Display students who scored above 65 in ML and NLP.

In [76]:
data[(data.ML>=65) & (data.NLP>=65)][['name', 'ML', 'NLP']]

              name  ML  NLP
3      Hassan Raza  85   94
6      Bilal Ahmed  96   87
9         Zain Ali  73   85
11      Saad Ahmed  80   76
14       Hamza Ali  67   95
17    Shahzaib Ali  81   98
18     Danish Raza  93   85
22       Taha Raza  95   75
24    Shoaib Malik  98   73
25      Rizwan Ali  81   97
30       Haris Ali  78   98
31      Yasir Raza  76   79
35     Kashif Raza  82   69
38       Moiz Raza  97   92
40      Anas Ahmed  93   79
44      Ubaid Raza  67   89
46     Ammar Ahmed  87   96
48       Rehan Ali  86   83
49   Mustafa Ahmed  79   76
51       Zahid Ali  98   73
52     Qasim Ahmed  97   76
56       Sami Raza  69   67
63     Ibrahim Ali  98   93
70      Saif Ahmed  77   72
71      Rafay Raza  88   75
72       Ehsan Ali  71   77
78  Zain Ul Abidin  65   92
85        Atif Ali  68   98
86     Waqar Ahmed  67   70
90       Mahad Ali  83   97
91     Rohail Raza  70   82
92   Shahbaz Ahmed  83   65
94      Affan Raza  73   81
95   Hasnain Ahmed  96   83
98    Nabeel Ahmed  72   85

In [77]:
#38. Find students with Grade A but DL marks less than 55.

In [79]:
data[(data.Grade == "A") & (data.DL<=55)][['name','DL', 'Grade']]

             name  DL Grade
1   Muhammad Asim  46     A
3     Hassan Raza  43     A
7      Fahad Khan  51     A
18    Danish Raza  52     A
23   Arslan Ahmed  55     A
24   Shoaib Malik  55     A
26    Adeel Ahmed  41     A
36     Nouman Ali  52     A
44     Ubaid Raza  48     A
50  Shahmeer Raza  45     A
57     Khalid Ali  55     A
62    Furqan Raza  43     A
63    Ibrahim Ali  49     A
67   Naveed Ahmed  54     A
70     Saif Ahmed  50     A
79     Hammad Ali  51     A
84    Sarmad Raza  51     A
85       Atif Ali  52     A
98   Nabeel Ahmed  50     A

In [80]:
#39. Show students whose Streamlit and Pandas marks are both above 70.

In [81]:
data[(data.streamlit>=70) & (data.pandas>=70)][['name','streamlit', 'pandas']]

              name  streamlit  pandas
9         Zain Ali         93      71
16     Noman Ahmed         84      94
17    Shahzaib Ali         88      96
18     Danish Raza         77      92
25      Rizwan Ali         74      99
28     Faizan Khan         99      92
29    Sameer Ahmed         72      82
30       Haris Ali         85      79
32    Junaid Ahmed         95      76
34     Irfan Ahmed         87      85
36      Nouman Ali         78      70
45      Shayan Ali         70      90
54       Ayaan Ali         72      70
61   Murtaza Ahmed         85      89
76    Ismail Ahmed         97      84
77      Ahsan Raza         78      91
78  Zain Ul Abidin         90      71
80    Rizwan Ahmed         96      74
83      Amin Ahmed         85      92
96     Zubair Raza         92      88
98    Nabeel Ahmed         98      81

In [82]:
#40. Display students who scored less than 50 in at least one subject.

In [89]:
data[(data['python'] < 50) | (data['numpy'] < 50)| (data['pandas'] < 50)| (data['streamlit'] < 50)| (data['ML'] < 50) | (data['DL'] < 50)| (data['NLP'] < 50)][['name', 'python','numpy','pandas', 'streamlit', 'ML','DL', 'NLP']]

             name  python  numpy  pandas  streamlit  ML  DL  NLP
0      Ahmed Raza      52     64      52         74  51  49   70
1   Muhammad Asim      85     53      78         61  86  46   53
3     Hassan Raza      87     99      63         64  85  43   94
4       Ali Hamza      82     72      67         50  53  40   54
5     Usman Tariq      91     88      62         64  80  65   49
..            ...     ...    ...     ...        ...  ..  ..  ...
93    Taimoor Ali      60     69      44         72  94  46   56
94     Affan Raza      72     48      99         57  73  76   81
96    Zubair Raza      42     60      88         92  57  56   59
97      Ahmer Ali      45     60      60         91  60  57   98
99    Dawood Raza      82     62      42         80  54  49   43

[74 rows x 8 columns]

In [90]:
#41. Find students who scored above 90 in any one subject.

In [92]:
subjects = ['python', 'numpy', 'pandas', 'streamlit', 'ML', 'DL', 'NLP'] 
data[data[subjects].gt(90).any(axis=1)]

,name,roll num,python,numpy,pandas,streamlit,ML,DL,NLP,Total,Grade
2,Asad Ali,10003,60,97,73,57,52,80,50,469,A
3,Hassan Raza,10004,87,99,63,64,85,43,94,535,A
5,Usman Tariq,10006,91,88,62,64,80,65,49,499,A
6,Bilal Ahmed,10007,81,90,44,53,96,88,87,539,A
7,Fahad Khan,10008,93,94,99,47,54,51,41,479,A
...,...,...,...,...,...,...,...,...,...,...,...
94,Affan Raza,10095,72,48,99,57,73,76,81,506,A
95,Hasnain Ahmed,10096,62,100,85,54,96,94,83,574,A
96,Zubair Raza,10097,42,60,88,92,57,56,59,454,A
97,Ahmer Ali,10098,45,60,60,91,60,57,98,471,A
98,Nabeel Ahmed,10099,97,75,81,98,72,50,85,558,A

In [93]:
#42. Display students whose Total marks are between 480 and 520.

In [95]:
data[(data.Total).between(480,520)][['name', 'Total']]

              name  Total
5      Usman Tariq    499
8     Abdul Rehman    515
12     Umer Farooq    504
14       Hamza Ali    495
18     Danish Raza    520
22       Taha Raza    495
24    Shoaib Malik    520
35     Kashif Raza    518
37     Owais Ahmed    483
39     Huzaifa Ali    484
41      Rayan Raza    497
43    Farhan Ahmed    501
44      Ubaid Raza    495
47    Zeeshan Raza    510
48       Rehan Ali    496
49   Mustafa Ahmed    485
51       Zahid Ali    507
53     Muneeb Raza    512
57      Khalid Ali    491
59      Basit Raza    487
62     Furqan Raza    486
66      Sufyan Ali    517
67    Naveed Ahmed    480
70      Saif Ahmed    487
72       Ehsan Ali    514
74      Zarar Raza    505
77      Ahsan Raza    505
78  Zain Ul Abidin    501
80    Rizwan Ahmed    512
82      Faisal Ali    496
89    Haseeb Ahmed    514
90       Mahad Ali    495
91     Rohail Raza    513
92   Shahbaz Ahmed    504
94      Affan Raza    506

In [96]:
#43. Show students who scored more than 60 in Python and less than 60 in NumPy.

In [98]:
data[(data.python>60) & (data.numpy<60)][['name', 'python', 'numpy']]

               name  python  numpy
1     Muhammad Asim      85     53
8      Abdul Rehman      93     58
17     Shahzaib Ali      90     54
18      Danish Raza      80     41
19      Waqas Ahmed      81     47
20  Abdullah Naveed      83     42
21     Mubashir Ali      89     56
25       Rizwan Ali      66     48
27       Talha Raza      77     42
28      Faizan Khan      62     40
36       Nouman Ali      81     48
37      Owais Ahmed      95     56
44       Ubaid Raza      83     56
45       Shayan Ali      67     50
51        Zahid Ali      78     44
61    Murtaza Ahmed      73     41
63      Ibrahim Ali      91     58
68      Jibran Raza      85     49
69        Abrar Ali      66     44
70       Saif Ahmed      85     59
71       Rafay Raza      90     43
73     Shahid Ahmed      62     46
74       Zarar Raza      87     48
75       Rameez Ali      62     46
80     Rizwan Ahmed      85     40
88        Akram Ali      76     55
94       Affan Raza      72     48

In [99]:
#44. Display students with Grade B and ML marks above 70.

In [100]:
data[(data.Grade == 'B') & (data.ML>70)][['name', 'ML', 'Grade']]

             name  ML Grade
10    Ahsan Iqbal  83     B
27     Talha Raza  82     B
45     Shayan Ali  82     B
60     Kamran Ali  88     B
61  Murtaza Ahmed  74     B
65     Awais Raza  73     B
93    Taimoor Ali  94     B

In [101]:
#45. Find students whose NLP marks are greater than DL marks.

In [106]:
data[data['NLP'] > data['DL']][['name','NLP','DL']]

               name  NLP  DL
0        Ahmed Raza   70  49
1     Muhammad Asim   53  46
3       Hassan Raza   94  43
4         Ali Hamza   54  40
10      Ahsan Iqbal   55  41
11       Saad Ahmed   76  60
12      Umer Farooq   95  85
14        Hamza Ali   95  75
15       Imran Khan   83  51
17     Shahzaib Ali   98  96
18      Danish Raza   85  52
20  Abdullah Naveed   85  76
21     Mubashir Ali   89  87
23     Arslan Ahmed   90  55
24     Shoaib Malik   73  55
25       Rizwan Ali   97  81
26      Adeel Ahmed   85  41
27       Talha Raza   61  43
28      Faizan Khan   71  63
29     Sameer Ahmed   91  67
30        Haris Ali   98  60
34      Irfan Ahmed   76  65
36       Nouman Ali   53  52
38        Moiz Raza   92  79
41       Rayan Raza   95  64
42        Adnan Ali   72  60
44       Ubaid Raza   89  48
45       Shayan Ali   43  41
46      Ammar Ahmed   96  93
48        Rehan Ali   83  74
50    Shahmeer Raza   56  45
51        Zahid Ali   73  61
53      Muneeb Raza   68  65
55      Areeb Ahmed   87  70
56        Sami Raza   67  60
61    Murtaza Ahmed   46  41
62      Furqan Raza   93  43
63      Ibrahim Ali   93  49
67     Naveed Ahmed   66  54
70       Saif Ahmed   72  50
73     Shahid Ahmed   64  47
75       Rameez Ali   94  88
78   Zain Ul Abidin   92  66
79       Hammad Ali   93  51
84      Sarmad Raza   65  51
85         Atif Ali   98  52
88        Akram Ali   91  47
89     Haseeb Ahmed   99  78
90        Mahad Ali   97  76
91      Rohail Raza   82  65
92    Shahbaz Ahmed   65  57
93      Taimoor Ali   56  46
94       Affan Raza   81  76
96      Zubair Raza   59  56
97        Ahmer Ali   98  57
98     Nabeel Ahmed   85  50

In [107]:
#46. Display students who scored above 70 in Python, NumPy, and Pandas.

In [108]:
data[(data.python>70) & (data.numpy>70) & (data.pandas>70)][['name', 'python', 'numpy', 'pandas']]

            name  python  numpy  pandas
7     Fahad Khan      93     94      99
9       Zain Ali      71    100      71
11    Saad Ahmed      75    100      99
24  Shoaib Malik      72     82      72
29  Sameer Ahmed      91     75      82
32  Junaid Ahmed      80     73      76
53   Muneeb Raza      97     93      83
55   Areeb Ahmed      75     93      80
57    Khalid Ali      86     85      97
66    Sufyan Ali      74     83      72
76  Ismail Ahmed      79     85      84
81   Shakir Raza      99     95      77
83    Amin Ahmed     100     95      92
98  Nabeel Ahmed      97     75      81

In [109]:
#47. Find students whose Python + NumPy + Pandas total is greater than 200.

In [116]:
data.loc[data[subjects].sum(axis=1) >200,['name', 'python', 'numpy','pandas','Total']]

             name  python  numpy  pandas  Total
0      Ahmed Raza      52     64      52    412
1   Muhammad Asim      85     53      78    462
2        Asad Ali      60     97      73    469
3     Hassan Raza      87     99      63    535
4       Ali Hamza      82     72      67    418
..            ...     ...    ...     ...    ...
95  Hasnain Ahmed      62    100      85    574
96    Zubair Raza      42     60      88    454
97      Ahmer Ali      45     60      60    471
98   Nabeel Ahmed      97     75      81    558
99    Dawood Raza      82     62      42    412

[100 rows x 5 columns]

In [117]:
#48. Display students who scored the maximum marks in ML.

In [128]:
max_marks = data['ML'].max()
data[data['ML'] == max_marks]

,name,roll num,python,numpy,pandas,streamlit,ML,DL,NLP,Total,Grade
33,Zubair Ali,10034,77,98,60,42,100,100,62,539,A

In [129]:
#49. Show students who scored the minimum marks in DL.

In [134]:
min_marks = data['DL'].min()
data[data['DL'] == min_marks]

,name,roll num,python,numpy,pandas,streamlit,ML,DL,NLP,Total,Grade
4,Ali Hamza,10005,82,72,67,50,53,40,54,418,B

In [135]:
#50. Display students whose Total marks are above the dataset average.

In [140]:
average_total = data['Total'].mean()
data[data['Total'] > average_total]

,name,roll num,python,numpy,pandas,streamlit,ML,DL,NLP,Total,Grade
3,Hassan Raza,10004,87,99,63,64,85,43,94,535,A
5,Usman Tariq,10006,91,88,62,64,80,65,49,499,A
6,Bilal Ahmed,10007,81,90,44,53,96,88,87,539,A
8,Abdul Rehman,10009,93,58,51,92,62,93,66,515,A
9,Zain Ali,10010,71,100,71,93,73,88,85,581,A
11,Saad Ahmed,10012,75,100,99,48,80,60,76,538,A
12,Umer Farooq,10013,47,89,98,42,48,85,95,504,A
14,Hamza Ali,10015,45,73,45,95,67,75,95,495,A
16,Noman Ahmed,10017,81,62,94,84,54,84,67,526,A
17,Shahzaib Ali,10018,90,54,96,88,81,96,98,603,A
18,Danish Raza,10019,80,41,92,77,93,52,85,520,A
21,Mubashir Ali,10022,89,56,61,86,60,87,89,528,A
22,Taha Raza,10023,42,56,88,63,95,76,75,495,A
24,Shoaib Malik,10025,72,82,72,68,98,55,73,520,A
25,Rizwan Ali,10026,66,48,99,74,81,81,97,546,A
29,Sameer Ahmed,10030,91,75,82,72,56,67,91,534,A
30,Haris Ali,10031,54,95,79,85,78,60,98,549,A
31,Yasir Raza,10032,56,75,96,52,76,99,79,533,A
32,Junaid Ahmed,10033,80,73,76,95,83,93,43,543,A
33,Zubair Ali,10034,77,98,60,42,100,100,62,539,A
34,Irfan Ahmed,10035,94,66,85,87,64,65,76,537,A
35,Kashif Raza,10036,80,65,48,83,82,91,69,518,A
38,Moiz Raza,10039,42,81,77,69,97,79,92,537,A
40,Anas Ahmed,10041,60,69,90,66,93,85,79,542,A
41,Rayan Raza,10042,67,94,82,46,49,64,95,497,A
43,Farhan Ahmed,10044,94,87,43,62,50,94,71,501,A
44,Ubaid Raza,10045,83,56,69,83,67,48,89,495,A
47,Zeeshan Raza,10048,41,74,87,60,91,96,61,510,A
48,Rehan Ali,10049,42,87,48,76,86,74,83,496,A
51,Zahid Ali,10052,78,44,60,93,98,61,73,507,A
52,Qasim Ahmed,10053,95,60,44,70,97,93,76,535,A
53,Muneeb Raza,10054,97,93,83,46,60,65,68,512,A
55,Areeb Ahmed,10056,75,93,80,63,58,70,87,526,A
63,Ibrahim Ali,10064,91,58,56,100,98,49,93,545,A
66,Sufyan Ali,10067,74,83,72,67,66,99,56,517,A
71,Rafay Raza,10072,90,43,97,50,88,81,75,524,A
72,Ehsan Ali,10073,83,77,47,80,71,79,77,514,A
74,Zarar Raza,10075,87,48,66,88,74,98,44,505,A
76,Ismail Ahmed,10077,79,85,84,97,78,92,62,577,A
77,Ahsan Raza,10078,43,88,91,78,62,81,62,505,A
78,Zain Ul Abidin,10079,56,61,71,90,65,66,92,501,A
80,Rizwan Ahmed,10081,85,40,74,96,84,93,40,512,A
81,Shakir Raza,10082,99,95,77,47,84,98,58,558,A
82,Faisal Ali,10083,53,77,99,42,77,84,64,496,A
83,Amin Ahmed,10084,100,95,92,85,89,87,48,596,A
89,Haseeb Ahmed,10090,56,71,63,88,59,78,99,514,A
90,Mahad Ali,10091,44,80,62,53,83,76,97,495,A
91,Rohail Raza,10092,83,78,70,65,70,65,82,513,A
92,Shahbaz Ahmed,10093,82,75,68,74,83,57,65,504,A
94,Affan Raza,10095,72,48,99,57,73,76,81,506,A
95,Hasnain Ahmed,10096,62,100,85,54,96,94,83,574,A
98,Nabeel Ahmed,10099,97,75,81,98,72,50,85,558,A